/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em;
}

header,
footer {
  margin: 0 auto;
  width: 800px;
}

h1 {
  margin: 0 auto 1em auto;
  width: 800px;
}

article {
  width: 50em;
}

img {
  max-width: 100%;
}

.main-logo {
  fill: #666;
  height: 6vw;
  margin: 0 auto 0.5em auto;
  width: 6vw;
}
